{% extends 'base.html' %}

{% block circuits %}
<section class="model-components-list sect-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="search-form text-center">
                    <input type="text" placeholder="Модель, t-con, x-main..."
                           name="search">
                    <button type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="model-components-list-header">
            <nav>
                <ul>
                    <li>
                        <a href="#">Samsung</a>
                    </li>
                    <li>
                        <a href="#">LG</a>
                    </li>
                    <li>
                        <a href="#">Горизонт</a>
                    </li>
                    <li>
                        <a href="#">Витязь</a>
                    </li>
                    <li>
                        <a href="#">Philips</a>
                    </li>
                    <li>
                        <a href="#">Toshiba</a>
                    </li>
                    <li>
                        <a href="#">Sony</a>
                    </li>
                    <li>
                        <a href="#">Panasonic</a>
                    </li>
                    <li>
                        <a href="#">DELL</a>
                    </li>
                </ul>
            </nav>
        </div>
        <table>
            <thead>
            <tr>
                <th>Модель</th>
                <th>Блок питания</th>
                <th>Main</th>
                <th>T-con</th>
                <th>X-main</th>
                <th>Y-main</th>
                <th>Logic</th>
                <th>Инвертор</th>
                <th>Y-scan</th>
                <th>Другое</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td data-label="Модель">test</td>
                <td data-label="Блок питания">test</td>
                <td data-label="Main">test</td>
                <td data-label="T-con">test</td>
                <td data-label="X-main">test</td>
                <td data-label="Y-main">test</td>
                <td data-label="Logic">test</td>
                <td data-label="Инвертор">test</td>
                <td data-label="Y-scan">test</td>
                <td data-label="Другое">test</td>
            </tr>
            <tr>
                <td data-label="Модель">test2</td>
                <td data-label="Блок питания">test2</td>
                <td data-label="Main">test2</td>
                <td data-label="T-con">test2</td>
                <td data-label="X-main">test2</td>
                <td data-label="Y-main">test2</td>
                <td data-label="Logic">test2</td>
                <td data-label="Инвертор">test2</td>
                <td data-label="Y-scan">test2</td>
                <td data-label="Другое">test2</td>
            </tr>
            <tr>
                <td data-label="Модель">test3</td>
                <td data-label="Блок питания">test3</td>
                <td data-label="Main">test3</td>
                <td data-label="T-con">test3</td>
                <td data-label="X-main">test3</td>
                <td data-label="Y-main">test3</td>
                <td data-label="Logic">test3</td>
                <td data-label="Инвертор">test3</td>
                <td data-label="Y-scan">test3</td>
                <td data-label="Другое">test3</td>
            </tr>
            <tr>
                <td data-label="Модель">test3</td>
                <td data-label="Блок питания">test3</td>
                <td data-label="Main">test3</td>
                <td data-label="T-con">test3</td>
                <td data-label="X-main">test3</td>
                <td data-label="Y-main">test3</td>
                <td data-label="Logic">test3</td>
                <td data-label="Инвертор">test3</td>
                <td data-label="Y-scan">test3</td>
                <td data-label="Другое">test3</td>
            </tr>
            <tr>
                <td data-label="Модель">test3</td>
                <td data-label="Блок питания">test3</td>
                <td data-label="Main">test3</td>
                <td data-label="T-con">test3</td>
                <td data-label="X-main">test3</td>
                <td data-label="Y-main">test3</td>
                <td data-label="Logic">test3</td>
                <td data-label="Инвертор">test3</td>
                <td data-label="Y-scan">test3</td>
                <td data-label="Другое">test3</td>
            </tr>
            <tr>
                <td data-label="Модель">test3</td>
                <td data-label="Блок питания">test3</td>
                <td data-label="Main">test3</td>
                <td data-label="T-con">test3</td>
                <td data-label="X-main">test3</td>
                <td data-label="Y-main">test3</td>
                <td data-label="Logic">test3</td>
                <td data-label="Инвертор">test3</td>
                <td data-label="Y-scan">test3</td>
                <td data-label="Другое">test3</td>
            </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="pagination">
                <ul>
                    <li><a href="#">last</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">6</a></li>
                    <li><a href="#">next</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="make-order light-bg sect-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="make-order-inner">
                    <h2>Нашли то что искали?</h2>
                    <p>Заполните заявку и мы с вами
                        обязательно свяжимся!</p>
                    <p class="bottom-line"></p>

                    <form method="POST" id="contact-form"
                          name="contact-form">
                        <input type="text" placeholder="Ваше имя..."
                               name="name">
                        <input type="email" placeholder="Ваш mail..."
                               name="email">
                        <textarea name="message" cols="30"
                                  rows="10"
                                  placeholder="Сообщение..."></textarea>
                        <input type="submit" class="btn-action"
                               value="Отправить">
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>

{% endblock %}