{% extends 'base.html' %}

{% block circuits %}
    <section class="model-components-list sect-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="search-form text-center">

                        <form action="" method="GET">
                            <input type="text"
                                   placeholder="{{ brand }} Модель, t-con, main... "
                                   name="search">
                            <button type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="model-components-list-header">
                <nav>
                    <ul>
                        <li>
                            <a href="{% url 'circuits-list' brand="samsung" %}">Samsung</a>
                        </li>
                        <li>
                            <a href="{% url 'circuits-list' brand="lg" %}">LG</a>
                        </li>
                        <li>
                            <a href="{% url 'circuits-list' brand="horizont" %}">Горизонт</a>
                        </li>
                        <li>
                            <a href="{% url 'circuits-list' brand="vityaz" %}">Витязь</a>
                        </li>
                        <li>
                            <a href="{% url 'circuits-list' brand="philips" %}">Philips</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <table>
                <thead>
                <tr>
                    <th>Модель</th>
                    <th>Блок питания</th>
                    <th>Main</th>
                    <th>T-con</th>
                    <th>X-main</th>
                    <th>Y-main</th>
                    <th>Logic</th>
                    <th>Инвертор</th>
                    <th>Y-scan</th>
                    <th>Другое</th>
                </tr>
                </thead>
                <tbody>
                {% for model in models_per_page %}
                    <tr>
                        <td data-label="Модель">{{ model.model }}</td>
                        <td data-label="Блок питания">{{ model.power }}</td>
                        <td data-label="Main">{{ model.main }}</td>
                        <td data-label="T-con">{{ model.t_con }}</td>
                        <td data-label="X-main">{{ model.x_main }}</td>
                        <td data-label="Y-main">{{ model.y_main }}</td>
                        <td data-label="Logic">{{ model.logic }}</td>
                        <td data-label="Инвертор">{{ model.inverter }}</td>
                        <td data-label="Y-scan">{{ model.y_skan }}</td>
                        <td data-label="Другое">{{ model.other }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="row">
                {% if models_per_page.has_other_pages %}
                    <ul class="pagination">
                        {% if models_per_page.has_previous %}
                            <li>
                                <a href="?page={{ models_per_page.previous_page_number }}">Prev</a>
                            </li>
                        {% else %}
                            <li class="disabled"><a href="#">Prev</a></li>
                        {% endif %}
                        {% for i in models_per_page.paginator.page_range %}
                            {% if models_per_page.number == i %}
                                <li class="active">
                                    <a href="#">{{ i }}</a>
                                </li>
                            {% else %}
                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if models_per_page.has_next %}
                            <li>
                                <a href="?page={{ models_per_page.next_page_number }}">Next</a>
                            </li>
                        {% else %}
                            <li class="disabled"><a href="#">Next</a></li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </section>

    <section class="make-order light-bg sect-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="make-order-inner">
                        <h2>Нашли то что искали?</h2>
                        <p>Заполните заявку и мы с вами
                            обязательно свяжимся!</p>
                        <p class="bottom-line"></p>

                        <form method="POST" id="contact-form"
                              name="contact-form">
                            {% csrf_token %}
                            {{ form.name }}
                            {{ form.email }}
                            {{ form.message }}
                            <input type="submit" class="btn-action"
                                   value="Отправить">
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </section>

{% endblock %}